{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        1aides
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/axios.min.js"></script>
</head>
<body>
<div class="d-flex">
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">1aides</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/" class="nav-link text-white {{ if eq .ActivePage "home" }}active{{ end }}" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Home
                </a>
            </li>
            <li>
                <a href="/friends" class="nav-link text-white {{ if eq .ActivePage "friends" }}active{{ end }}">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Friends
                </a>
            </li>
            <li>
                <a href="/groups" class="nav-link text-white {{ if eq .ActivePage "groups" }}active{{ end }}">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Groups
                </a>
            </li>
            <li>
                <a href="/plan" class="nav-link text-white {{ if eq .ActivePage "plan" }}active{{ end }}">
                    <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Plan
                </a>
            </li>
        </ul>
        <hr>
    </div>

    <!-- Main Content -->
    <div class="flex-grow-1 p-4">

{{ end }}
