{{ template "header" . }}
<div class="container-fluid py-5" style="background-color: #f8f9fa;">
    <div class="container">
        <div class="row">
            <!-- 左侧内容区域 -->
            <div class="col-md-7">
                <h1>Quickly Add Your</h1>
                <h1>Aides</h1>
                <p class="mt-4">Scan the code to log in to your robot WeChat, and you can quickly set up your aides.</p>
                <p class="mt-2"><strong>Note:</strong> There is a risk of banning!</p>
            </div>

            <!-- 右侧扫码区域 -->
            <div class="col-md-5">
                <div class="d-flex flex-column align-items-end">
                    <div class="text-center">
                        <h5>Scan Login</h5>
                        <img src="{{ .loginimg }}" alt="Login QR Code" class="img-fluid" style="max-width: 150px; height: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 新增区域: 卡片展示 -->
<div class="container py-5">

</div>

{{ template "footer" . }}


 <script>

 </script>
