{{ template "header" . }}
<div class="container">
<div class="row">
  <div class="col-md-6">
      <div>
        <img src="{{ .loginimg }}" alt="Login QR Code">
    </div>
  </div>
  <div class="col-md-6">右侧内容</div>
</div>

</div>
{{template "footer" .}}
